.textColor {
  color: #382110ff
}

.tempImg {
  background-color: aliceblue;
  width: 250px;
  height: 250px;
}

.postContent {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.postContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.rightdiv {
  margin-left: 67px;
  margin-top: 126.7px;
}

.commentssec {
  background-color: white;
  padding: 16.7px;
}

.hidden {
  display: none;
  background-color: blanchedalmond;
}