/*changed max width to be entirety of viewport
so that devices of larger width can use*/
#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}
/* No need for this: will style logo manually
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} 
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*assignment code!*/

/*don't want auto padding.
will specify in certain elements if padding is needed*/
body {
  padding: 0;
}

/*General container to keep page elements in a neat column*/
.pageElements {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

/*grid for post images. give them a brown border (dirt-esque)*/
.postGrid {
  display: grid;
  max-width: 700px;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  padding: 30px;
  gap: 40px;

  img {
    border-radius: 5%;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 4px 4px #9a774eff;
    
  }

}

/*Responsive grid to fit smaller screens*/
@media only screen and (max-width: 760px) {

  .postGrid {
    display: grid;
    max-width: 500;
    grid-template-columns: 1fr;

    img {
      border-radius: 5%;
      max-width: 200px;
      max-height: 200px;
    }

  }

}