#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*ASSIGNMENT CODE BEGINS HERE*/

/*navigation bar. content positioned relative to the parent.
Bar itself at the top of the page. Contain logo, login/out, profile*/
.navBar {
  background-color: antiquewhite;
  top: 0;
}

/*create logo class, using background image to display the logo in 
React. change the sizing as needed where it appears in the website.
for now, using 75px by 75px as the baseline*/
.logo {
  width: 75px;
  height: 75px;
  background-image: url(./assets/tempLogoGYG.png);
}